<html>

<body style="font: 14px Arial, Helvetica, sans-serif">
	<table style="margin:auto;border-radius: 25;">
		<tr>
			<th></th>
			<th>
				<h1 style="color: green; font-size: 26px">Atendimento concluído!</h1>
			</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>
				<p>${servico.solicitante}, seu atendimento foi concluído.</p>
			</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>
				<p>${servico.cliente.nome}</p>
			</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>
				Atenciosamente,
			</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th style="padding-bottom: 0px;">
				<u>${servico.usuario.nome}</u>
			</th>
			<th></th>
		</tr>
		<!--
		<tr>
			<th></th>
			<th>
				__________________________
			</th>
			<th></th>
		</tr>
		-->
		<tr>
			<th></th>
			<th>
				IVITECH COMÉRCIO E SERVIÇOS
			</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>
				Telelefone: (85) 3254-6678
			</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>
				<a href="mailto:suporte@ivitech.com.br" style="text-decoration: none;">Email: suporte@ivitech.com.br</a>
			</th>
			<th></th>
		</tr>		
		<tr>
			<th></th>
			<th>
				<a href="https://web.whatsapp.com/send?phone=85987805800&text="  style="text-decoration: none;">Whatsapp/Celular: (85) 98780-5800</a> 
			</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>
				Skype: suporteivitech
			</th>
			<th></th>
		</tr>
		<tr>
			<th></th>
			<th>
				<a href="https://www.ivitech.com.br"  style="text-decoration: none;">www.ivitech.com.br</a>
			</th>
			<th></th>
		</tr>
	</table>
</body>

</html>